* {padding: 0; margin: 0; box-sizing: border-box;}

:root{
    font-size:62.5%

}

body{
    height: 100vh;

    display: grid;
    place-items: center;

    font-size: 12.6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;

    padding: 0 2rem;
}

button {
    border: none;
    background-color: transparent;

    transition: transform .3s
}

button:hover{
    transform: scale(1.1);
}

.controls{
    max-width: 31rem;

    animation: lefttoright .6s backwards;
}

#timer{
    font-family: 'Roboto' , sans-serif;
    
    display: flex;

}

#buttons{
    display: flex;
    gap: 3rem;

    margin-top:4.8rem;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    max-width: 31rem;

    animation: uptodown .3s .6s backwards
}

.color svg > path {
    fill: #02799D;
}

.color svg path:nth-child(2){
    fill: white;
}

.hide {
   display: none;
}


@media (min-width:760px){
    main{
        flex-direction: row;
        align-items: flex-start;
    }

}

@keyframes lefttoright {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes uptodown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}